#img-bg{
    background-image: url("https://i.pinimg.com/736x/3e/33/7c/3e337c9208126bee1a4ee1f9cc184fd4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 600px;
}
